:root {
    --color-primary: #344f2f;
    --color-secondeary: #6e8744;
    --color-mute: #bdc17b;
    --color-bg-secondary: #d1cba7;
    --color-bg-primary: #f2eeeb;

    --color-success: #6e8744;
    --color-info: #6e8744;
    --color-danger: #752a5f;
    --color-text: #515050;
    --h-footer: 54px;
    --h-header: 64px;
}

* {
    padding: 0;
    margin: 0;
    border: none;
}

html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-size: inherit;
    font-family: "Noto Sans Elbasan", serif;
    font-weight: 400;
    font-style: normal;
    color: var(--color-primary);

}


*,
*::before,
*::after {
    box-sizing: border-box;
}

a, a:link, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

aside, nav, footer, header, section, main {
    display: block;
}

h1, h2, h3, h4, h5, h6, p {
}

.text-h1 {
    font-size: 1.8em;
    font-weight: 400;
    color: #d6c689;
    text-shadow: #d6c689 1px 0 10px;
}

ul, ul li {
    list-style: none;
    font-size: inherit;
    font-family: "Noto Sans Elbasan", serif;
    font-weight: 400;
    font-style: normal;
}

img {
    vertical-align: top;
}

img, svg {
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

/* Form */

input, textarea, button, select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
    display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background: transparent none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

label {
    cursor: pointer;
}

legend {
    display: block;
}

@media screen and (min-width: 768px) and (orientation: landscape) {
    /* width */
    body::-webkit-scrollbar {
        width: 8px;
        background: var(--color-primary);
        box-shadow: inset 0 0 5px grey;
        opacity: 0;
    }

    /* Track */
    body::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey;
        border-radius: 2px;
    }

    /* Handle */
    body::-webkit-scrollbar-thumb {
        background: var(--color-secondeary);
        box-shadow: inset 0 0 5px grey;
        border-radius: 4px;
    }


}

